extends layout.pug

block content
  .container
    h1= title

    form(action="/documents" method='POST')
      .mb-3
        label(for='title') Заголовок
        input.form-control(type='text' name='title' required)

      .mb-3
        label(for='text') Текст
        textarea#tinymce.form-control(name='text')

      .mb-3
        a.btn.btn-warning(href="/") Отмена
        button.btn.btn-primary.ms-2(type='submit') Сохранить
