extends layout.pug

block content
    .col-10.col-lg-3.mx-auto
        h1 Регистрация

        .card
            .card-body
                form(method='post' action='/user/register')
                    .mb-3
                        label(for='firstname') Имя
                        input.form-control(type='firstname' name='firstname' autocomplete='firstname' required autofocus)
                    .mb-3
                        label(for='lastname') Фамилия
                        input.form-control(type='lastname' name='lastname' autocomplete='lastname')
                    .mb-3
                        label(for='email') Эл. почта
                        input.form-control(type='email' name='email' autocomplete='email' required)
                    .mb-3
                        label(for='password') Пароль
                        input.form-control(type='password' name='password' autocomplete='password' required)
                    .mb-3
                        button.btn.btn-success(type='submit') Зарегистрироваться
                
                hr

                p Есть учетная запись? <a href='/user/login'>Войти</a>
